In [1]:
import pandas as pd
import duckdb

In [11]:
customers = pd.read_csv("olist_customers_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
payments = pd.read_csv("olist_order_payments_dataset.csv")

In [12]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [13]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [14]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [43]:
sql_base_data = """

WITH base_data AS (
    SELECT 
        c.customer_unique_id,
        o.order_id,
        o.order_purchase_timestamp,
        p.payment_value
    FROM customers c
    LEFT JOIN orders o
        ON c.customer_id = o.customer_id
    LEFT JOIN payments p
        ON o.order_id = p.order_id
    WHERE o.order_purchase_timestamp <= '2018-09-01'
)

SELECT
    customer_unique_id,
    DATEDIFF('day', CAST(MAX(order_purchase_timestamp) AS DATE), DATE '2018-09-01') AS recency_days, 
    COUNT(DISTINCT order_id) AS amount,
    SUM(payment_value) AS total_value
FROM base_data
GROUP BY customer_unique_id
ORDER BY total_value DESC


"""

In [44]:
duckdb.sql(sql_base_data).show()

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚        customer_unique_id        â”‚ recency_days â”‚   A   â”‚    total_value     â”‚
â”‚             varchar              â”‚    int64     â”‚ int64 â”‚       double       â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 0a0a92112bd4c708ca5fde585afaa872 â”‚          337 â”‚     1 â”‚           13664.08 â”‚
â”‚ 46450c74a0d8c5ca9395da1daac6c120 â”‚           15 â”‚     3 â”‚            9553.02 â”‚
â”‚ da122df9eeddfedc1dc1f5349a1a690c â”‚          518 â”‚     2 â”‚            7571.63 â”‚
â”‚ 763c8b1c9c68a0229c42c9fc6f662b93 â”‚           48 â”‚     1 â”‚            7274.88 â”‚
â”‚ dc4802a71eae9be1dd28f5d788ceb526 â”‚          566 â”‚     1 â”‚            6929.31 â”‚
â”‚ 459bef486812aa25204be022145caa62 â”‚           38 â”‚     1 â”‚            6922.21 â”‚
â”‚ ff4159b92c40ebe40454e3e6a7c35ed6 â”‚          465 â”‚     1 â”‚            6726.66 â”‚
â”‚ 4007669dec559734d6f53e029e360987 â”‚          281 â”‚     1 â”‚            6081.54 â”‚
â”‚ 5d0a2980b292d049061542014e8960bf â”‚           51 â”‚     1 â”‚            4809.44 â”‚
â”‚ eebb5dda148d3893cdaf5b5ca3040ccb â”‚          501 â”‚     1 â”‚            4764.34 â”‚
â”‚                Â·                 â”‚           Â·  â”‚     Â· â”‚                Â·   â”‚
â”‚                Â·                 â”‚           Â·  â”‚     Â· â”‚                Â·   â”‚
â”‚                Â·                 â”‚           Â·  â”‚     Â· â”‚                Â·   â”‚
â”‚ f7d58c2990cc096fcc86ed849b245158 â”‚          180 â”‚     1 â”‚             314.21 â”‚
â”‚ 3a39827c3cc7d748d1c32909273f7e7b â”‚          273 â”‚     1 â”‚             314.21 â”‚
â”‚ 1971f30a2d9430d12a4c3540e1fae21e â”‚          234 â”‚     1 â”‚             314.21 â”‚
â”‚ fbf5f5ed22f15eb7193f445430db6ad7 â”‚          164 â”‚     1 â”‚             314.21 â”‚
â”‚ 2df37bb066a7cc680d0c712a4cae1b2f â”‚          225 â”‚     1 â”‚             314.21 â”‚
â”‚ 7aedba48051dfe957b59e5d052c16f71 â”‚          126 â”‚     1 â”‚             314.21 â”‚
â”‚ db8e4be2382fc04a998f0f1875767ee1 â”‚           45 â”‚     2 â”‚             314.14 â”‚
â”‚ a854d3a1f68d104777314631772349f4 â”‚          235 â”‚     1 â”‚             314.13 â”‚
â”‚ 0e3c753956e35026b965d9ac3590c5af â”‚          389 â”‚     2 â”‚             314.12 â”‚
â”‚ 39618678c9395910a7d675df2b0af941 â”‚           41 â”‚     2 â”‚ 314.08000000000004 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ? rows (>9999 rows, 20 shown)                                      4 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [60]:
sql_data = """

WITH base AS (
    SELECT 
        c.customer_unique_id,
        DATE_DIFF('day', CAST(MAX(order_purchase_timestamp) AS DATE), DATE '2018-09-01') AS recency_days,
        COUNT(DISTINCT o.order_id) AS frequency,
        SUM(payment_value) AS monetary
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN payments p ON o.order_id = p.order_id
    WHERE o.order_purchase_timestamp <= '2018-09-01'
    GROUP BY c.customer_unique_id
),

scores AS (
SELECT 
    *,
    NTILE(5) OVER(ORDER BY recency_days DESC) AS r_score,
    NTILE(5) OVER(ORDER BY frequency DESC) AS f_score,
    NTILE(5) OVER(ORDER BY monetary DESC) AS m_score
FROM base
)

SELECT 
    customer_unique_id,
    recency_days,
    frequency,
    monetary,
    CONCAT(r_score, r_score, r_score) AS score
    FROM scores
    ORDER BY monetary DESC
"""

In [61]:
duckdb.sql(sql_data).show()

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚        customer_unique_id        â”‚ recency_days â”‚ frequency â”‚      monetary      â”‚  score  â”‚
â”‚             varchar              â”‚    int64     â”‚   int64   â”‚       double       â”‚ varchar â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 0a0a92112bd4c708ca5fde585afaa872 â”‚          337 â”‚         1 â”‚           13664.08 â”‚ 222     â”‚
â”‚ 46450c74a0d8c5ca9395da1daac6c120 â”‚           15 â”‚         3 â”‚            9553.02 â”‚ 555     â”‚
â”‚ da122df9eeddfedc1dc1f5349a1a690c â”‚          518 â”‚         2 â”‚            7571.63 â”‚ 111     â”‚
â”‚ 763c8b1c9c68a0229c42c9fc6f662b93 â”‚           48 â”‚         1 â”‚            7274.88 â”‚ 555     â”‚
â”‚ dc4802a71eae9be1dd28f5d788ceb526 â”‚          566 â”‚         1 â”‚            6929.31 â”‚ 111     â”‚
â”‚ 459bef486812aa25204be022145caa62 â”‚           38 â”‚         1 â”‚            6922.21 â”‚ 555     â”‚
â”‚ ff4159b92c40ebe40454e3e6a7c35ed6 â”‚          465 â”‚         1 â”‚            6726.66 â”‚ 111     â”‚
â”‚ 4007669dec559734d6f53e029e360987 â”‚          281 â”‚         1 â”‚            6081.54 â”‚ 222     â”‚
â”‚ 5d0a2980b292d049061542014e8960bf â”‚           51 â”‚         1 â”‚            4809.44 â”‚ 555     â”‚
â”‚ eebb5dda148d3893cdaf5b5ca3040ccb â”‚          501 â”‚         1 â”‚            4764.34 â”‚ 111     â”‚
â”‚                Â·                 â”‚           Â·  â”‚         Â· â”‚                Â·   â”‚  Â·      â”‚
â”‚                Â·                 â”‚           Â·  â”‚         Â· â”‚                Â·   â”‚  Â·      â”‚
â”‚                Â·                 â”‚           Â·  â”‚         Â· â”‚                Â·   â”‚  Â·      â”‚
â”‚ 1971f30a2d9430d12a4c3540e1fae21e â”‚          234 â”‚         1 â”‚             314.21 â”‚ 333     â”‚
â”‚ 3a39827c3cc7d748d1c32909273f7e7b â”‚          273 â”‚         1 â”‚             314.21 â”‚ 222     â”‚
â”‚ 653e0e845f4cf739fce07a818ac93f49 â”‚          151 â”‚         1 â”‚             314.21 â”‚ 444     â”‚
â”‚ 6ff438d434f5af7a2f4b23a22d96ec69 â”‚          151 â”‚         1 â”‚             314.21 â”‚ 444     â”‚
â”‚ 7aedba48051dfe957b59e5d052c16f71 â”‚          126 â”‚         1 â”‚             314.21 â”‚ 444     â”‚
â”‚ f7d58c2990cc096fcc86ed849b245158 â”‚          180 â”‚         1 â”‚             314.21 â”‚ 444     â”‚
â”‚ db8e4be2382fc04a998f0f1875767ee1 â”‚           45 â”‚         2 â”‚             314.14 â”‚ 555     â”‚
â”‚ a854d3a1f68d104777314631772349f4 â”‚          235 â”‚         1 â”‚             314.13 â”‚ 333     â”‚
â”‚ 0e3c753956e35026b965d9ac3590c5af â”‚          389 â”‚         2 â”‚             314.12 â”‚ 111     â”‚
â”‚ 39618678c9395910a7d675df2b0af941 â”‚           41 â”‚         2 â”‚ 314.08000000000004 â”‚ 555     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ? rows (>9999 rows, 20 shown)                                                    5 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [63]:
sql_weighted_rfm = """
WITH base_data AS (
    SELECT 
        c.customer_unique_id,
        DATE_DIFF('day', CAST(MAX(order_purchase_timestamp) AS DATE), DATE '2018-09-01') AS recency_days,
        COUNT(DISTINCT o.order_id) AS frequency,
        SUM(payment_value) AS monetary
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN payments p ON o.order_id = p.order_id
    WHERE o.order_purchase_timestamp <= '2018-09-01'
    GROUP BY c.customer_unique_id
),

rfm_scored AS (
    SELECT 
        *,
        -- 1. Råˆ† (Recency): ä¾ç„¶ç”¨ NTILEï¼Œå› ä¸ºæ—¶é—´åˆ†å¸ƒç›¸å¯¹å‡åŒ€
        NTILE(5) OVER (ORDER BY recency_days DESC) as r_score,
        
        -- 2. Fåˆ† (Frequency): ç»å¤§å¤šæ•°æ˜¯1ï¼Œç›´æ¥ç®€å•ç²—æš´å¤„ç†
        CASE 
            WHEN frequency >= 3 THEN 5
            WHEN frequency = 2 THEN 3
            ELSE 1 
        END as f_score,
        
        -- 3. Måˆ† (Monetary): ä¿®å¤ Bugï¼Œæ”¹ç”¨ç¡¬æ€§é—¨æ§› (æ ¹æ® Olist æ•°æ®åˆ†å¸ƒç»éªŒ)
        -- ä½ å¯ä»¥æ ¹æ®å®é™…æƒ…å†µè°ƒæ•´è¿™äº›æ•°å­—
        CASE 
            WHEN monetary > 1000 THEN 5  -- å¤§äº1000å…ƒå°±æ˜¯è¶…çº§VIP
            WHEN monetary > 500 THEN 4
            WHEN monetary > 200 THEN 3
            WHEN monetary > 100 THEN 2
            ELSE 1 
        END as m_score
    FROM base_data
)

-- æœ€åä¸€æ­¥ï¼šç®—å‡ºåŠ æƒæ€»åˆ†ï¼Œå¹¶ç»™å‡ºâ€œäººè¯â€æ ‡ç­¾
SELECT 
    customer_unique_id,
    recency_days, frequency, monetary,
    r_score, f_score, m_score,
    
    -- è®¡ç®—åŠ æƒåˆ†ï¼š(R*30% + F*20% + M*50%)
    (r_score * 0.3 + f_score * 0.2 + m_score * 0.5) as final_weighted_score,
    
    -- è‡ªåŠ¨æ‰“ä¸Šæ ‡ç­¾ (è¿™å°±æ˜¯ç»™è¿è¥äººå‘˜çœ‹çš„äº†)
    CASE 
        WHEN (r_score * 0.3 + f_score * 0.2 + m_score * 0.5) >= 4.5 THEN 'ğŸ’ æ ¸å¿ƒVIP (Whales)'
        WHEN m_score >= 4 AND r_score <= 2 THEN 'ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention)'
        WHEN r_score >= 4 AND m_score <= 2 THEN 'ğŸŒ± æ–°ç”¨æˆ· (Newcomers)'
        ELSE 'ğŸ›’ æ™®é€šç”¨æˆ· (Regular)'
    END as customer_segment
    
FROM rfm_scored
ORDER BY monetary DESC
LIMIT 15;
"""

duckdb.sql(sql_weighted_rfm).show()

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚        customer_unique_id        â”‚ recency_days â”‚ frequency â”‚ monetary â”‚ r_score â”‚ f_score â”‚ m_score â”‚ final_weighted_score â”‚        customer_segment         â”‚
â”‚             varchar              â”‚    int64     â”‚   int64   â”‚  double  â”‚  int64  â”‚  int32  â”‚  int32  â”‚    decimal(23,1)     â”‚             varchar             â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 0a0a92112bd4c708ca5fde585afaa872 â”‚          337 â”‚         1 â”‚ 13664.08 â”‚       2 â”‚       1 â”‚       5 â”‚                  3.3 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 46450c74a0d8c5ca9395da1daac6c120 â”‚           15 â”‚         3 â”‚  9553.02 â”‚       5 â”‚       5 â”‚       5 â”‚                  5.0 â”‚ ğŸ’ æ ¸å¿ƒVIP (Whales)             â”‚
â”‚ da122df9eeddfedc1dc1f5349a1a690c â”‚          518 â”‚         2 â”‚  7571.63 â”‚       1 â”‚       3 â”‚       5 â”‚                  3.4 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 763c8b1c9c68a0229c42c9fc6f662b93 â”‚           48 â”‚         1 â”‚  7274.88 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ dc4802a71eae9be1dd28f5d788ceb526 â”‚          566 â”‚         1 â”‚  6929.31 â”‚       1 â”‚       1 â”‚       5 â”‚                  3.0 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 459bef486812aa25204be022145caa62 â”‚           38 â”‚         1 â”‚  6922.21 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ ff4159b92c40ebe40454e3e6a7c35ed6 â”‚          465 â”‚         1 â”‚  6726.66 â”‚       1 â”‚       1 â”‚       5 â”‚                  3.0 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 4007669dec559734d6f53e029e360987 â”‚          281 â”‚         1 â”‚  6081.54 â”‚       2 â”‚       1 â”‚       5 â”‚                  3.3 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 5d0a2980b292d049061542014e8960bf â”‚           51 â”‚         1 â”‚  4809.44 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ eebb5dda148d3893cdaf5b5ca3040ccb â”‚          501 â”‚         1 â”‚  4764.34 â”‚       1 â”‚       1 â”‚       5 â”‚                  3.0 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”‚ 48e1ac109decbb87765a3eade6854098 â”‚           71 â”‚         1 â”‚  4681.78 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ c8460e4251689ba205045f3ea17884a1 â”‚           24 â”‚         4 â”‚  4655.91 â”‚       5 â”‚       5 â”‚       5 â”‚                  5.0 â”‚ ğŸ’ æ ¸å¿ƒVIP (Whales)             â”‚
â”‚ edde2314c6c30e864a128ac95d6b2112 â”‚           29 â”‚         1 â”‚  4513.32 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ a229eba70ec1c2abef51f04987deb7a5 â”‚           93 â”‚         1 â”‚   4445.5 â”‚       5 â”‚       1 â”‚       5 â”‚                  4.2 â”‚ ğŸ›’ æ™®é€šç”¨æˆ· (Regular)           â”‚
â”‚ edf81e1f3070b9dac83ec83dacdbb9bc â”‚          501 â”‚         1 â”‚  4194.76 â”‚       1 â”‚       1 â”‚       5 â”‚                  3.0 â”‚ ğŸ’¤ é«˜ä»·å€¼æµå¤± (Needs Attention) â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 15 rows                                                                                                                                             9 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜